body{
	font-family: Calibri Light;
	font-size: 1em;
}

img{
	
	positions: absolute;
	
}


.background-wrap{
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}

.content-index{
	position: absolute;
	width: 100%;
	min-height: 100%;
	min-height: 100%;
	z-index: 1000;
	left: 0;
	top: 0;
	background-colors: rgba(0,0,0,0.3);
}

.content-index h1{
	text-align: center;
	font-size: 85px;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	padding-top: 10%;
	margin-bottom: 10px;
}

.content-index form{
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	color: #aaa;
}

.content-index p{
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	color: #aaa;
}

#video-lambo{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
}

#video-audi{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
}

.content-index form button {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
  border: 0.08em solid white;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 350px;
  transition: all 1s;
  cursor: pointer;
  margin: 5px;
}

.content-index form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.content-index form button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.content-index form button:hover span {
  padding-right: 25px;
}

.content-index form button:hover span:after {
  opacity: 1;
  right: 0;
}

#home {
    font-family: Calibri Light;
	font-size: 25px;
    transition: background-color .5s;
	margin: 8px;
	background: images/background.jpg;
	background-color: rgba(0,0,0,0);
}

ul.topnav {
    list-style-type: none;
    margin-left: 5px;
	margin-right: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #334;
	border-radius: 15px;
	width: 100%
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

h1 { 
    display: block;
    font-size: 100px;
	font-family: 'Faster One';
}

table tr th{
	
	borders: 0.1em solid red;
}

#nav-btn{
	borders:0.1em solid blue;
	height: 0;
	width: 0;
}

#title{
	borders: 0.1em solid blue;
}

.main {
  text-align: center;
}

.container {
  position: relative;
  width: 99%;
  height: 0%;
  margin-left: 5px;
  margin-right: 5px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}

.container:hover .overlay {
  height: 30%;
}

.container:hover .overlay2 {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.mySlides01 {
	
	display:none;
}

.mySlides02 {
	
	display:none;
}

.mySlides03 {
	
	display:none;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 3s;
	animation-name: fade;
	animation-duration: 3s;
}

@-webkit-keyframes fade{
	from {opacity: .1}
	to {opacity: 1}	
	
}

@keyframes fade {	

	from {opacity: .1}
	to {opacity: 1}	
	
}
	
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#myBtn {
	background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 100%;
	position: center;
	font-size: 25px;
}


#myBtn:hover {
    background-color: #45a049;
}

.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}	

h3 {
	text-align: center;
		
}

footer{
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	display: block;
	background-color: rgba(0,0,0,0.3);
	color: white;
	border-radius: 10px;
	font-size: 17px;
	
	
}

@media only screen and (max-width:600px) {
  /* For mobile phones: */
  .menu, #nav-btn, #table-home {
    width:70%;
 }






